include ../post/post-data
style
    include ./card_of_post.scss


ul.cards
    each item in locals.dataOfPosts
        li.cards__element
            div.cards__item
                div.cards__item__about-user
                    div.cards__item__about-user--image(style='background-image:url(#{require("./userimage.png")})')
                    a.cards__item__about-user--name=item.username
                    a.cards__item__about-user--car=item.userCar
                div.cards__item__mini-review
                    a.cards__item__mini-review__text=item.review
                button(class="cards__item__see-more" type="button")="читать"
